.user-container{
    width: 100%;
    height: 10%;
    padding: 10px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-imgAndActions{
    position: relative;    
}

.user-container img{
    border-radius: 50%;
    cursor: pointer;
}

.user-logOut{
    width: 70px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    
    color: #fff;
    background-color: var(--grayColor);
    opacity: .9;
    cursor: pointer;
    
    border: 1px solid var(--grayColor);
    border-radius: 5px;
    padding: 1px 10px;
    z-index: 99;
    position: absolute;
    margin-top: 10px;
}

.arrowFont{
    width: 100%;
    height: 10px;
    text-align: center;
    position: absolute;
    z-index: 99;
    color: var(--grayColor);
    bottom: 0;
    
}

.user-name{
    padding-top: 10px;
    font-size: 1.3rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: var(--grayColor);
}