@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;600&display=swap');

.content{
    background-color: #FFF;
    width: 85%;
    margin: 2em 2em;
    padding: 10px 10px;
    border-radius: 30px;
    box-shadow: 1px 0px 14px 1px rgba(0,0,0,0.30);

    display: flex;
    flex-direction: column;
}

.content-header{
    display: flex;
    margin: 5px 10px;
    justify-content: space-between;
    background-color: transparent;
    margin-bottom: 20px;
}

.content-projectName{
    font-size: 1.5rem;
    background-color: transparent;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
}
.content-insertTask{
    font-size: 1rem;
    margin-right: 50px;
    padding-top: 5px;
    width: 10%;
    text-align: center;
    border: solid 1px black;
    border-radius: 10px;
    background-color: transparent;
}

.content-tasks{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    overflow: scroll;
}

.tasks-todo,.tasks-doing,.tasks-done{
    flex-direction: column;
    height: 30%;
    margin-bottom: 5px;
    font-family: 'Sora', sans-serif;
    color: #858585;
    background-color: transparent;
}

.taskItems-todo, .taskItems-doing, .taskItems-done{
    display: block;
    width: 100%;
    height: 150px;
    background-color: transparent;
    overflow: scroll;
    white-space: nowrap;
}
.doing-label, .done-label, .todo-label{
    background-color: transparent;
    margin-left: 10px;
}