main.tasksContainer, .tasksContainer-noTasks{
    width: 95%;
    height: 90%;
    padding: 0 20px;
    margin: 10px 0;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, .2);
}
.tasksContainer-noTasks{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grayColor);
    font-size: 30px;
}
