@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

:root{
  --blackColor: #0C120C;
  --grayColor: #858585;
  --yellowColor: #FBB02D;
  --blueColor: #C4D6E3;
  --redColor: #E23C4A;
  --greenColor: #99D17B;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

.app{
  background-color: var(--blueColor);
  height: 100vh;
  min-height: 900px;
  display: flex;
}
