@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

:root{
  --grayColor: #858585;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

.app{
  background-color: #ECF5FE;
  height: 100vh;
  display: flex;
}
